---
language: ruby
cache: bundler
sudo: false
notifications:
  slack: bloomberg-rnd:BvYmxrV9xj902XWTRNrkLNkR
script: bundle exec rake travis
rvm:
  - 2.2
  - 2.3
  - tip
branches:
  only:
    - master
matrix:
  fast_finish: true
